In [1]:
import numpy as np
import pandas as pd

In [2]:
evaluation=pd.read_csv('evaluation.csv')
course=pd.read_csv('course.csv')
module=pd.read_csv('module.csv')
content=pd.read_csv('content.csv')
gyan=pd.read_csv('gyan.csv')
myday=pd.read_csv('myday.csv')
link_preview_details=pd.read_csv('link_preview_details.csv')
url_task=pd.read_csv('url_task.csv')
batch=pd.read_csv('batch.csv')
batch_task=pd.read_csv('batch_task.csv')
users=pd.read_csv('users.csv')
tasks=pd.read_csv('tasks.csv')

# Improve CampusX
Instructions
You have to submit your solutions before 6:00pm tomorrow
The problems that I have given(except the 1st one) are problems with which we are also dealing with. So, in a way we are asking for your help through this hackathon.
To be honest solving even a single question is a big deal in the given time duration. So, please don't get frustrated if you are not able to solve even one problem.
A request - don't quit. Infact never quit.
Marking Scheme for this hackathon is as follows
Total Marks=200 but, while adding this to your dashboard, your total marks will be divided by a factor of 10. So, let's say you scored 90 in the hackathon, you dashboard score would be 9

Top 3 performers will get a prize, when we will meet next.Promise:)

# Problem 1 : Write a python function which will receive 3 input i.e. batch name, start date and end date and returns the leaderboard(in that date window) of that particular batch with the following pieces of info - Name, Marks(till now)

Note: If no date range is provided, show the leaderboard for the entire duration of the course

Marks -10

In [3]:
#there is nothing about end_date
def worsttimetotakehackathon(name,date):
    old=users.merge(batch)
    another=evaluation.groupby('user_id').sum()
    again=old.merge(another,left_on='user_id',right_on='user_id')
    s=again['batch_name']==name
    g=again['batch_start_date']==date
    o=s & g
    b=again[o]
    u=gyan.groupby('user_id').count()
    gy=u['link'].reset_index()
    i=myday.groupby('user_id').count()
    my=i['entry'].reset_index()
    gy1=gy.merge(my)
    gy1.merge(my)
    every=b.merge(gy1)
    x=every['link']+every['entry']+every['score']
    every['total_score']=x
    finished=every.set_index('total_score').sort_index(ascending=False)
    allset=finished['fname'].reset_index()
    return allset

In [4]:
worsttimetotakehackathon("Machine Learning Kolkata 2","2020-01-19")

    total_score          fname
0         196.5         Ritwik
1         193.0          Ritik
2         190.5        Ritayan
3         189.0         Balaka
4         188.5        Alekhyo
5         187.5       Priscila
6         184.0        Srijani
7         183.0     Writuparna
8         182.5          Tuhin
9         182.0       Rajtilak
10        178.5          GAZAL
11        177.5          Suman
12        176.5           Rima
13        176.5        Diganta
14        176.0    SHUBHOBRATA
15        175.5        Satyaki
16        173.0     Madhuparna
17        172.0          Sanaa
18        169.0        Sarthak
19        167.0  Sankha Subhra
20        166.0       Sumantra
21        145.5          Wasif
22        143.0          Sagar
23        142.0      Tathagata
24        141.5      Mushrequa
25        120.0          RAHUL
26        115.5        Rajrupa
27        114.0          Rahul
28        108.5          Banti
29        106.0          Rahul
30         91.5        Srinjoy
31         64.5        Dilshad

# Problem 4: Find the best student across batches

Marks - 20

In [5]:
old=users.merge(batch)
another=evaluation.groupby('user_id').sum()
again=old.merge(another,left_on='user_id',right_on='user_id')
u=gyan.groupby('user_id').count()
gy=u['link'].reset_index()
i=myday.groupby('user_id').count()
my=i['entry'].reset_index()
gy1=gy.merge(my)
gy1.merge(my)
every=again.merge(gy1)
x=every['link']+every['entry']+every['score']
every['total_score']=x
every
finished=every.set_index('total_score').sort_index(ascending=False)
cherry=finished.drop_duplicates('batch_id')
#best student of each batch
cherry

,user_id,batch_id,fname,lname,email,dp,college,passing_year,branch,github,...,youtube,batch_name,batch_start_date,e_id,task_id,late,score,winner,link,entry
total_score,,,,,,,,,,,,,,,,,,,,,
196.5,75,3,Ritwik,Ghosh,ritwik.ghosh1010@gmail.com,https://campus-x-profile-images.s3.ap-south-1....,Amity University Kolkata,2021,CSE,https://github.com/ritwik-ghosh153,...,vesv2lXOe-U,Machine Learning Kolkata 2,2020-01-19,2735,162,1,154.5,5,24,18
154.0,6,1,Dipam,Hazra,dipamhazra1999@gmail.com,https://campus-x-profile-images.s3.ap-south-1....,St. Thomas' College of Engineering and Technology,2021,CSE,https://github.com/DIPAM9,...,Y5WOLp17yRo,Machine Learning Kolkata 1,2020-01-01,868,182,1,114.0,1,16,24
92.0,38,2,Sumanta,Mandal,mr.sumantamandal@gmail.com,https://campus-x-profile-images.s3.ap-south-1....,"HIT, Haldia",2022,CSE,https://github.com/smn007,...,NaN,Machine Learning HIT 1,2020-01-01,414,47,0,45.0,1,26,21

In [6]:
#best student
cherry.head(1)

,user_id,batch_id,fname,lname,email,dp,college,passing_year,branch,github,...,youtube,batch_name,batch_start_date,e_id,task_id,late,score,winner,link,entry
total_score,,,,,,,,,,,,,,,,,,,,,
196.5,75,3,Ritwik,Ghosh,ritwik.ghosh1010@gmail.com,https://campus-x-profile-images.s3.ap-south-1....,Amity University Kolkata,2021,CSE,https://github.com/ritwik-ghosh153,...,vesv2lXOe-U,Machine Learning Kolkata 2,2020-01-19,2735,162,1,154.5,5,24,18

# Problem 3: Write a python function that will take batch name and a date range as input and outputs the most consistent student in that given daterange and batch

Note: Come up with your definition of consistency

Marks - 20

In [172]:
def thanksforextension(name,daterange):
    old=users.merge(batch)
    another=evaluation.groupby('user_id').sum()
    again=old.merge(another,left_on='user_id',right_on='user_id')
    s=again['batch_name']==name
    cool=again[s]
    x8=gyan['submission_date']<=daterange
    a=gyan[x8]
    col1=a.groupby('user_id').count()
    x9=myday['entry_date']<=daterange
    a2=myday[x9]
    col2=a2.groupby('user_id').count()
    gy=col1['link'].reset_index()
    every1=cool.merge(gy)
    my=col2['entry'].reset_index()
    every2=every1.merge(my)
    x7=evaluation['evaluation_date']<=daterange
    a3=evaluation[x7]
    col3=a3.groupby('user_id').sum()
    scoring=col3['score'].reset_index()
    scoring.rename(columns={'score':'score_till_now'},inplace=True)
    final=every2.merge(scoring)
    x3=final['score_till_now']/2
    y1=final['link']+final['entry']+x3
    calcu=y1*5
    z=final['late']
    z1=10*z
    ultimate=calcu-z1
    final['most_consistent']=ultimate
    getinn=final.set_index('most_consistent').sort_index(ascending=False)
    okay=getinn.drop_duplicates('batch_id')
    atlast=okay['fname'].reset_index()
    return atlast
    #logic: (score/2+myday+gyan)*5 - 10*(late_submission)

In [173]:
thanksforextension("Machine Learning Kolkata 2","2020-02-12")

   most_consistent   fname
0           448.75  Ritwik

# Problem 5 : Write a function/piece of analysis that can compare the performance of 2 batches on the whole

Note: Again Abstract

Note 2: Will be judging you a lot on the basis of this.

Note 3: You can get an instant internship under us, if can apply the right thought process to this problem

Marks - 50

# Problem 6 : Surprise us

Description: Find something(point/points of analysis) that might surprise us

Marks - 50

# Problem 2: Write a python function that receives 1 input, batch_name and returns the list of top 10 students who require maximum attention from the teacher.

Note: I know this is kind of abstract, but truly we are facing this problem. Try to come up with a solution/algorithm.

Tip : Don't just think in terms of marks, also think about things like late submissions, number of submissions, myday etc

Tricky scenario: Aisa bhi ho sakta hai koi student bas shuru me acha perform nai kar raha tha, but ab kar raha hai. So consider dates also.

Marks : 50

In [22]:
def attention(id):
    old=users.merge(batch)
    another=evaluation.groupby('user_id').sum()
    again=old.merge(another,left_on='user_id',right_on='user_id')
    s=again['batch_id']==id
    cool=again[s]
    x8=gyan['submission_date']>='2020-02-01'
    a=gyan[x8]
    col1=a.groupby('user_id').count()
    x9=myday['entry_date']>='2020-02-01'
    a2=myday[x9]
    col2=a2.groupby('user_id').count()
    gy=col1['link'].reset_index()
    every1=cool.merge(gy)
    my=col2['entry'].reset_index()
    every2=every1.merge(my)
    x7=evaluation['evaluation_date']>='2020-02-01'
    a3=evaluation[x7]
    col3=a3.groupby('user_id').sum()
    scoring=col3['score'].reset_index()
    scoring.rename(columns={'score':'score_after_today'},inplace=True)
    final=every2.merge(scoring)
    x1=final['score_after_today']/2
    y1=final['link']+final['entry']+x1
    calcu=y1*5
    z=final['late']
    z1=10*z
    ultimate=calcu-z1
    final['requires_attention']=ultimate
    yeah=final.set_index('requires_attention').sort_index()
    atlast=yeah.head(10)
    return atlast

#logic: (score/2+myday+gyan)*5 - 10*(late_submission)

In [25]:
attention(3)

,user_id,batch_id,fname,lname,email,dp,college,passing_year,branch,github,...,batch_name,batch_start_date,e_id,task_id,late,score,winner,link,entry,score_after_today
requires_attention,,,,,,,,,,,,,,,,,,,,,
102.50,79,3,Srinjoy,Chowdhury,srinjoy35@gmail.com,https://campus-x-profile-images.s3.ap-south-1....,Academy of Technology,2021,CSE,NaN,...,Machine Learning Kolkata 2,2020-01-19,1578,90,2,69.5,0,1,2,43.0
153.75,80,3,Rahul,Ghosh,rahulghosh813@gmail.com,https://campus-x-profile-images.s3.ap-south-1....,Academy Of Technology,2021,CSE,NaN,...,Machine Learning Kolkata 2,2020-01-19,1446,92,1,86.0,1,2,1,59.5
192.50,103,3,Rajrupa,Mitra,rajbeadon@gmail.com,https://campus-x-profile-images.s3.ap-south-1....,Neotia institute of technology management and ...,2022,ECE,NaN,...,Machine Learning Kolkata 2,2020-01-19,1751,99,1,75.5,0,10,5,51.0
193.75,86,3,Banti,Pandey,bantipandey95@gmail.com,https://campus-x-profile-images.s3.ap-south-1....,NaN,0,NaN,NaN,...,Machine Learning Kolkata 2,2020-01-19,901,19,0,71.5,0,10,5,47.5
207.50,94,3,Rahul,Shaw,imyuvi497@gmail.com,https://campus-x-profile-images.s3.ap-south-1....,Academy of Technology,2022,ME,NaN,...,Machine Learning Kolkata 2,2020-01-19,1187,46,0,72.0,0,11,5,51.0
220.00,95,3,RAHUL,SINGH,08rahul.singh311@gmail.com,https://campus-x-profile-images.s3.ap-south-1....,ACADEMY OF TECHNOLOGY,2022,ME,NaN,...,Machine Learning Kolkata 2,2020-01-19,1207,46,0,78.0,0,11,5,56.0
245.00,67,3,Tathagata,Nath,tathagatanath99@gmail.com,https://campus-x-profile-images.s3.ap-south-1....,"Techno International, Newtown",2021,BCA,https://github.com/TathagataNath/TATHAGATA_NATH,...,Machine Learning Kolkata 2,2020-01-19,2594,156,0,121.0,0,2,1,92.0
246.25,102,3,Mushrequa,Nawaz,mushrequanawaz@gmail.com,https://campus-x-profile-images.s3.ap-south-1....,Amity University,2021,CSE,NaN,...,Machine Learning Kolkata 2,2020-01-19,1952,102,2,104.5,0,11,5,74.5
250.00,70,3,Sagar,Sarkar,sagar1999sarkarcse@gmail.com,https://campus-x-profile-images.s3.ap-south-1....,Techno main salt lake,2022,CSE,NaN,...,Machine Learning Kolkata 2,2020-01-19,2798,157,4,111.0,1,10,6,84.0
276.25,74,3,Wasif,Ekbal,wasifekbal27@gmail.com,https://campus-x-profile-images.s3.ap-south-1....,NaN,0,NaN,NaN,...,Machine Learning Kolkata 2,2020-01-19,2282,128,1,108.5,0,10,5,84.5